<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Chose Player</mat-label>
    <mat-select [formControl]="chosenPlayer">
      <mat-option *ngFor="let player of playerOptions | async" [value]="player.id">
        {{player.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()" [disabled]="saving || chosenPlayer.invalid">Add player</button>
  <mat-spinner *ngIf="saving" diameter="20"></mat-spinner>
</div>
