<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Card Receiver</mat-label>
    <mat-select [formControl]="cardForm.get('player')">
      <mat-option
        *ngFor="let player of data.existingPlayers"
        [value]="player.id"
      >
        {{ player.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="card-types">
    <mat-label>Type</mat-label>
    <mat-select [formControl]="cardForm.get('type')">
      <mat-option *ngFor="let type of cardtypes" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input
      type="number"
      matInput
      placeholder="Time"
      [formControl]="cardForm.get('minute')"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()" [disabled]="saving || cardForm.invalid">
    Add
  </button>
  <mat-spinner *ngIf="saving" diameter="20"></mat-spinner>
</div>
