@import 'materialize/materialize.css';

/* Google Material Icons */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

html {
  color: #212121;
}

body {
  background-color: #efefef;
}

select {
  display: inherit;
}

.btn {
  color: white;
  background-color: #2196f3;
}

.btn:hover {
  background-color: #1976d2;
}

.btn-floating {
  background-color: #ff5252;
}

.btn-floating:hover {
  background-color: #d50000;
}

/* component labelling */

.component-marker {
  color: #fff;
  height: 26px;
  font-size: 15px;
  line-height: 26px;
  padding: 0 9px;
  border-radius: 12px;
  background-color: #ff5252;
  float: right;
  transform: translate(8px, -8px);
  grid-area: 1 / 1 / 2 / -1;
  justify-self: end;
}

a.btn-floating {
  float: right;
}

.green-background {
  background-color: green;
}

.card-action .btn {
  margin-bottom: 5px;
}

/* CSS grid classes */

.two-across,
.three-across,
.four-across,
.narrow-wide {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

.fit-component-marker {
  grid-template-rows: 5px 1fr;
}

@media only screen and (min-width: 601px) {
  .two-across {
    grid-template-columns: repeat(2, 1fr);
  }
  .three-across {
    grid-template-columns: repeat(3, 1fr);
  }
  .four-across {
    grid-template-columns: repeat(2, 1fr);
  }
  .narrow-wide {
    grid-template-columns: 1fr 2fr;
  }
}

@media only screen and (min-width: 993px) {
  .four-across {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Space out buttons a bit */

.btn span,
.btn-large span,
.btn-floating span,
.btn-flat span {
  font-size: 1.3rem;
  line-height: inherit;
}
