/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import './app/app.colors.scss';

@include mat-core();
@include angular-material-theme($theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-list-item-active {
  font-weight: bold;
  color: mat-color($accent, darker) !important;
}

.yellow-card {
  color: mat-color(mat-palette($mat-yellow), default);
}

.red-card {
  color: mat-color($warn, default);
}

mat-card {
  margin-top: 10px;
  margin-left: 10px;
}

.mat-dialog-actions button {
  text-transform: uppercase;
}

.mat-dialog-actions {
  direction: rtl;
}

app-player-name-editor .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0;
  border-top: 0px;
}

app-player-name-editor
  .mat-form-field-appearance-legacy
  .mat-form-field-wrapper {
  display: inline;
}

.card-types {
  text-transform: capitalize;
}

.mat-option-text {
  text-transform: capitalize;
}
