<section class="card">
  <div class="card-content">
    <div class="card-title">
      {{ employee?.firstName }} {{ employee?.lastName }}
    </div>
    <p>
      Position: <strong>{{ employee?.position }}</strong>
    </p>
    <p>
      Department: <strong>{{ employee?.department }}</strong>
    </p>
  </div>
</section>
