<table mat-table [dataSource]="cards" class="mat-elevation-z8" style="width: 100%">
    <ng-container matColumnDef="player">
      <th mat-header-cell *matHeaderCellDef> Player </th>
      <td mat-cell *matCellDef="let element"> {{element.playerName}} </td>
    </ng-container>
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> Color </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
    <ng-container matColumnDef="minute">
      <th mat-header-cell *matHeaderCellDef> Minute </th>
      <td mat-cell *matCellDef="let element"> {{element.minute}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button mat-mini-fab color="accent" style="float: right" (click)="addShot()"><mat-icon>add</mat-icon></button>
