<mat-card-title>
  <app-player-name-editor
    [playerName]="(player | async)?.name"
    (playerNameChanged)="updateName($event)"
  ></app-player-name-editor>
  <div class="delete-control" [matTooltip]="canDelete | async">
    <button
      mat-raised-button
      color="warn"
      (click)="delete()"
      [disabled]="canDelete | async"
    >
      Delete
      <mat-icon>delete</mat-icon>
    </button>
    <mat-spinner *ngIf="deleting | async" diameter="20"></mat-spinner>
  </div>
</mat-card-title>
<mat-card-content>
  <table
    mat-table
    [dataSource]="playerGameTableData | async"
    class="mat-elevation-z8"
    style="width: 100%"
  >
    <ng-container matColumnDef="gameName">
      <th mat-header-cell *matHeaderCellDef>Game Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let element">{{ element.location }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>
    <ng-container matColumnDef="goals">
      <th mat-header-cell *matHeaderCellDef>Goals</th>
      <td mat-cell *matCellDef="let element">{{ element.goals }}</td>
    </ng-container>
    <ng-container matColumnDef="shots">
      <th mat-header-cell *matHeaderCellDef>Shots</th>
      <td mat-cell *matCellDef="let element">{{ element.shots }}</td>
    </ng-container>
    <ng-container matColumnDef="shotAverage">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        {{ element.goals / element.shots | percent }}
      </td>
    </ng-container>
    <ng-container matColumnDef="assists">
      <th mat-header-cell *matHeaderCellDef>Assists</th>
      <td mat-cell *matCellDef="let element">{{ element.assists }}</td>
    </ng-container>
    <ng-container matColumnDef="yellowCard">
      <th mat-header-cell *matHeaderCellDef>Yellow Card Received</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="yellow-card" *ngIf="element.yellowCard">flag</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="redCard">
      <th mat-header-cell *matHeaderCellDef>Red Card Received</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="red-card" *ngIf="element.redCard">flag</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card-content>
