<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/players"
        routerLinkActive="mat-list-item-active"
        >Players</a
      >
      <a
        mat-list-item
        routerLink="/games"
        routerLinkActive="mat-list-item-active"
        >Games</a
      >
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
