<div class="two-across">
  <section class="card">
    <div class="card-content">
      <div class="card-title">Employees</div>

      <div class="two-across">
        <div>
          <label for="nameFilter">Name Filter</label>
          <input
            id="nameFilter"
            type="text"
            autocomplete="off"
            [formControl]="nameFilter"
          />
        </div>
        <div>
          <label for="sort">Sort By</label>
          <select id="sort" type="text" [formControl]="sort">
            <option value="lastName">Last Name</option>
            <option value="department">Department</option>
          </select>
        </div>
      </div>

      <employee-list-table-view
        [list]="filteredList | async"
        [selectedId]="selectedId | async"
        (selectId)="selectedId.next($event)"
      ></employee-list-table-view>
    </div>
  </section>

  <employee-detail-view
    [employee]="selectedEmployee | async"
  ></employee-detail-view>
</div>
