<section class="card">
  <div class="card-content">
    <div class="card-title">
      Name: {{ (employee | async)?.firstName }}
      {{ (employee | async)?.lastName }}
    </div>
    <p>
      Position: <strong>{{ (employee | async)?.position }}</strong>
    </p>
    <p>
      Department:
      <strong>{{ (employee | async)?.department }}</strong>
    </p>
    <hr />
    <a routerLink="/employees">Back to list</a>
  </div>
</section>
