<section class="card">
  <div class="card-content">
    <div class="card-title">Select Employee</div>
    <p *ngFor="let employee of list | async">
      <a [routerLink]="employee.id">
        {{ employee.firstName }} {{ employee.lastName }}
      </a>
    </p>
  </div>
</section>
