<h1>Chat</h1>
<div *ngFor="let m of allMessages | async">
  {{ m.name + ': ' + m.contents }}
</div>
<hr />
<div>Name: <input [formControl]="name" /></div>
<div>Message: <input [formControl]="message" /></div>
<button class="btn" (click)="sendChat()">Send</button>
