<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Shot Taker</mat-label>
    <mat-select [formControl]="shotForm.get('player')">
      <mat-option *ngFor="let player of this.data.existingPlayers" [value]="player.id">
        {{player.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Assist</mat-label>
    <mat-select [formControl]="shotForm.get('assist')">
      <mat-option *ngFor="let player of this.data.existingPlayers" [value]="player.id">
        {{player.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput placeholder="Time" [formControl]="shotForm.get('minute')">
  </mat-form-field>
  <mat-checkbox [formControl]="shotForm.get('scored')">Scored</mat-checkbox>
  <span *ngIf="shotForm.touched && shotForm.getError('cantAssistYourself')">A player can not assist themselves</span>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()" [disabled]="saving || shotForm.invalid">Add</button>
  <mat-spinner *ngIf="saving" diameter="20"></mat-spinner>
</div>
