<span class="grid">
  <span class="player-list">
    <mat-card>
      <mat-card-content>
        <mat-nav-list>
          <a mat-list-item
            *ngFor="let player of players | async"
            [routerLink]="player.id"
            routerLinkActive="mat-list-item-active"
            >
            {{player.name}}
          </a>
        </mat-nav-list>
        <button mat-mini-fab (click)="addPlayer()"><mat-icon>add</mat-icon></button>
      </mat-card-content>
    </mat-card>
  </span>
  <mat-card class="player-detail">
    <router-outlet></router-outlet>
  </mat-card>
</span>
