<mat-list>
  <mat-list-item *ngFor="let player of players">
    {{ player.name }}
  </mat-list-item>
</mat-list>
<button mat-mini-fab color="accent" style="float: right" (click)="addPlayer()"><mat-icon>add</mat-icon></button>
