<div mat-dialog-content>
  <mat-form-field>
    <input [formControl]="playerInput" matInput placeholder="Enter player name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()" [disabled]="saving || playerInput.invalid">add</button>
  <mat-spinner *ngIf="saving" diameter="20"></mat-spinner>
</div>
