<h1>Counter Example</h1>
<button (click)="empty()" class="btn">Empty Cart</button>
<p>Total Fruit: {{ total | async }}</p>

<div class="two-across">
  <counter-display
    label="Berries"
    [counter]="berry | async"
    (pick)="pickBerry()"
  >
  </counter-display>

  <counter-display
    label="Apples"
    [counter]="apple | async"
    (pick)="pickApple($event)"
  >
  </counter-display>
</div>
