<form class="three-across">
  <div>
    <label for="subReddit">Search reddit.com/r/</label>
    <select
      id="subReddit"
      [(ngModel)]="subReddit"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="findResults()"
    >
      <option *ngFor="let sr of subReddits" [value]="sr">
        {{ sr }}
      </option>
    </select>
  </div>
  <div>
    <label for="search">for images containing:</label>
    <input
      id="search"
      type="text"
      [(ngModel)]="search"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="findResults()"
    />
  </div>
</form>

<div>
  <div class="box" *ngFor="let post of results">
    <img [src]="post.thumbnail" [alt]="post.title" />
  </div>
</div>
