<div class="card">
  <div class="card-content">
    <h2>Symbol pairs</h2>
    <table>
      <tr>
        <th>Pair</th>
        <th>Bid</th>
      </tr>
      <tr *ngFor="let entry of list">
        <td>{{ entry.symbol }}</td>
        <td>{{ entry.bid }}</td>
      </tr>
    </table>
  </div>
</div>
