<section class="card">
  <div class="card-content">
    <div class="card-title">Top 5 employees</div>
    <ul class="collection">
      <li class="collection-item" *ngFor="let e of employeeData">
        {{ e.firstName }} {{ e.lastName }}
      </li>
    </ul>
  </div>
</section>
